.flex {
    display:flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.clearfix::after,
section::after {
    content: '';
    display:block;
    clear:both;
}