@use "../abstracts/colours" as *;
@use "../abstracts/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

h1,
h3,
h5 {
  font-family: "Open Sans", sans-serif;
  color: clr(primary, light);
}
h2,
h4,
h6 {
  font-family: "Open Sans", sans-serif;
}
body,
p,
div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-muted {
  opacity: 0.75;
}
