$primary: #1d184c;
$secondary: #c4c0bd;
$warning: #df8d11;
$success: #30c291;
$info: #1cfcf9;
$danger: #e33114;
$light: #fbf8f3;
$dark: #454545;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$lighten: 5;
$darken: 25;
