@use '../abstracts/mixins' as *;
@use '../abstracts/colours' as *;
@use '../abstracts/variables' as *;

.brand {
  gap: 0.5rem;

  .h1 {
    font-size:1.25rem;

    @include mq(sm) {
      font-size:1.75rem;
    }

    @include mq(md) {
      font-size:2.25rem;
    }
  }
}

.brand-byline {
  font-size: .9rem;
  font-stretch: semi-expanded;
  font-style: italic;
  text-align: center;
  
  @include mq(sm) {
    font-size:1.1rem;
  }

  @include mq(md) {
    font-size:1.25rem;
  }
}

.primary-header {
  background-color: $light;
  opacity:0.975;
  position: fixed;
  width:100vw;
  z-index: 1000;

  a {
    color: clr(primary, dark);
  }
}