@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colours' as *;

.nco-icon {
  width: 32.5px;
  height: 100%;

  @include mq(sm) {
      width: 37.5px;
      height: 100%;
  }
  
  @include mq(md) {
      width: 42.5px;
      height: 100%;
  }
}

#arc-1, #arc-2, #arc-3, #circle {
    fill: clr(secondary);
    stroke: 1.5px;
    stroke: clr(secondary, dark);
  }

  #arc-1 {
    opacity: 0.75;
  }

  #arc-2 {
    opacity: 0.5;
  }

  #arc-3 {
    opacity: 0.3;
  }

//   .arc-4, .arc-5, .arc-6 {
//     fill: none;
//   }

//   .arc-4 {
//     stroke: #7b8a8b;
//     stroke-width: 3px;
//   }

//   .arc-4, .arc-5, .arc-6, .arc-7 {
//     stroke-miterlimit: 10;
//   }

//   .arc-6, .arc-7 {
//     stroke: #454545;
//     stroke-width: 2px;
//   }

//   .arc-6 {
//     opacity: 0.25;
//   }